/.env
*.swp
__pycache__
.DS_Store
/buildanddeploy
/celerybeat-schedule
/dev
/node_modules
cabotage/client/static/tailwind.css
cabotage/client/static/tailwind.min.css
cabotage/client/static/main.min.css
cabotage/client/static/main.min.js
