[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.8'

[dev-packages]
coverage = "*"
flask-testing = "*"
"testing.postgresql" = "*"
hupper = "*"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-bootstrap = "*"
flask-debugtoolbar = "*"
flask-login = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
"psycopg2" = "*"
unidecode = "*"
flask-security = "*"
flask-mail = "*"
flask-nav = "*"
sqlalchemy = "<1.4"
sqlalchemy-citext = "*"
sqlalchemy-utils = "*"
sqlalchemy-continuum = "*"
humanize = "*"
flask-humanize = "*"
python-consul = "*"
hvac = "*"
docker = "==2.7.0"
click = "*"
minio = "*"
celery = {extras = ["redis"]}
cryptography = "*"
flask-celery-helper = "*"
procfile = "*"
kubernetes = "==6.1.0"
flask-env = "*"
gunicorn = "*"
dockerfile-parse = "*"
pyjwt = "*"
flask-babelex = "*"
email_validator = "*"
