apiVersion: v1
kind: Service
metadata:
  name: consul
  namespace: cabotage-dev
spec:
  ports:
    - port: 8500
      targetPort: 8500
  selector:
    app: consul
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: consul
  namespace: cabotage-dev
spec:
  serviceName: consul
  replicas: 1
  selector:
    matchLabels:
      app: consul
  template:
    metadata:
      labels:
        app: consul
    spec:
      containers:
        - name: consul
          image: hashicorp/consul:1.20
          ports:
            - containerPort: 8500
          env:
            - name: CONSUL_CLIENT_INTERFACE
              value: eth0
          volumeMounts:
            - name: consul-data
              mountPath: /consul/data
  volumeClaimTemplates:
    - metadata:
        name: consul-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
