{% extends "_base.html" %}
{% from "bootstrap/utils.html" import form_button %}
{% block content %}
  <div class="container" id="content">
    <div class="row">
      <h1>Organization: {{ organization.name }}</h1>
    </div>
    <div class="row">
      <h2>Projects</h2>
    </div>
    <table class="table">
    {% for project in organization.projects %}
      <tr>
        <td><a href="{{ url_for("user.project", org_slug=project.organization.slug, project_slug=project.slug) }}">{{ project.name }}</a></td>
      </tr>
    {% endfor %}
      <tr>
        <td>{{ form_button(url_for('user.organization_project_create', org_slug=organization.slug), "Create a new Project", method="GET", class="btn btn-primary pull-right") }}</td>
      </tr>
    </table>
    <a href="{{ url_for('user.jwt') }}" class="btn btn-primary pull-right">View Grafana Dashboard</a>
  </div>
{% endblock %}
