{% extends "_base.html" %}

{% block content %}
  <div class="container" id="content">
    <div class="row">
      <h1>{{ application.project.organization.slug|lower }}/{{ application.project.slug|lower }}: {{ application.slug }}</h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3>Releases</h3>
        {% set container_diff, config_diff = application.ready_for_deployment %}
        {% if container_diff.has_changes() or config_diff.has_changes() %}
          <div class="row">
            <div class="alert alert-info">
              <p>Unapplied changes exist!</p>
            </div>
          </div>
          {% if container_diff.has_changes() %}
          {% set added = container_diff.added() %}
          {% set removed = container_diff.removed() %}
          {% set changed = container_diff.changed() %}
          <div class="row">
            <h5>Container Changes</h5>
            <div class="col-md-8">
              <table class="table">
                <tr>
                  <th></th>
                  <th>Attribute</th>
                  <th>Operation</th>
                </tr>
                {% for container_added in added %}
                <tr>
                  <td><span class="glyphicon glyphicon-plus text-success"></span></td>
                  <td><code>{{ container_added }}</code></td>
                  <td>Added</td>
                </tr>
                {% endfor %}
                {% for container_changed in changed %}
                <tr>
                  <td><span class="glyphicon glyphicon-pencil text-info"></span></td>
                  <td><code>{{ container_changed }}</code></td>
                  <td>Edited</td>
                </tr>
                {% endfor %}
                {% for container_removed in removed %}
                <tr>
                  <td><span class="glyphicon glyphicon-minus text-danger"></span></rd>
                  <td><code>{{ container_removed }}</code></td>
                  <td>Removed</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          {% endif %}
          {% if config_diff.has_changes() %}
          {% set added = config_diff.added() %}
          {% set removed = config_diff.removed() %}
          {% set changed = config_diff.changed() %}
          <div class="row">
            <h5>Configuration Changes</h5>
            <div class="col-md-8">
              <table class="table">
                <tr>
                  <th></th>
                  <th>Environment Variable</th>
                  <th>Operation</th>
                </tr>
              {% if added %}
                {% for config_added in added %}
                <tr>
                  <td><span class="glyphicon glyphicon-plus text-success"></span></td>
                  <td><code>{{ config_added }}</code></td>
                  <td>Added</td>
                </tr>
                {% endfor %}
              {% endif %}
              {% if removed  %}
                {% for config_removed in removed %}
                <tr>
                  <td><span class="glyphicon glyphicon-minus text-danger"></span></rd>
                  <td><code>{{ config_removed }}</code></td>
                  <td>Removed</td>
                </tr>
                {% endfor %}
              {% endif %}
              {% if changed %}
                {% for config_changed in changed %}
                <tr>
                  <td><span class="glyphicon glyphicon-pencil text-info"></span></td>
                  <td><code>{{ config_changed }}</code></td>
                  <td>Edited</td>
                </tr>
                {% endfor %}
              {% endif %}
              </table>
            </div>
          </div>
          {% endif %}
          <div class="row">
            <a class="btn btn-info pull-right" href="{{ url_for('user.project_application_release_create', org_slug=application.project.organization.slug, project_slug=application.project.slug, app_slug=application.slug) }}">
              Cut a new release!&nbsp;<span class="glyphicon glyphicon-scissors"></span>
            </a>
          </div>
        {% endif %}
        <div class="row">
          {% if application.release %}
          <h4>Current</h4>
          <table class="table table-striped">
            <tr>
              <th>Version</th>
              <th>Updated</th>
            </tr>
            <tr>
              <td>{{ application.release.version_id }}</td>
              <td>{{ application.release.updated|humanize }}</td>
            </tr>
          </table>
          {% endif %}
          {% if view_releases.all() |length > 1 %}
          <h4>History</h4>
          <table class="table table-striped">
            <tr>
              <th>Version</th>
              <th>Updated</th>
            </tr>
            <tr>
            {% for release in view_releases[1:] %}
            <tr>
              <td>{{ release.version_id }}</td>
              <td>{{ release.updated| humanize }}</td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3>Latest Built Image</h3>
        {% if application.latest_image_building and application.latest_image_building.version|default(0) > application.latest_image.version|default(0) %}
        <div class="col-md-12">
          <div class="row alert alert-info">
            <a class="text-info" href="{{ url_for('user.image_detail', image_id=application.latest_image_building.id) }}">Image Build #{{ application.latest_image_building.version }} In Progress! Watch it Go! <span class="glyphicon glyphicon-search"></span></a>
          </div>
        </div>
        {% endif %}
        {% if application.latest_image_error and application.latest_image_error.version|default(0) > application.latest_imagei.version|default(0) %}
        <div class="col-md-12">
          <div class="row alert alert-danger">
            <a class="text-danger" href="{{ url_for('user.image_detail', image_id=application.latest_image_error.id) }}">Latest Image Build #{{ application.latest_image_error.version }} Failed! Take a closer look! <span class="glyphicon glyphicon-search"></span></a>
          </div>
        </div>
        {% endif %}
        <table class="table table-striped">
          <tr>
            <th>Version</th>
            <th>Built</th>
            <th>Updated</th>
            <th style="white-space: nowrap; width: 1%;">Details</th>
          </tr>
          {% if application.latest_image %}
          <tr>
            <td><code>{{ application.latest_image.version }}</code></td>
            {% if application.latest_image.built %}
            <td><span class="glyphicon glyphicon glyphicon-ok-sign text-success"></span></td>
            {% elif application.latest_image.error %}
            <td><span class="glyphicon glyphicon-exclamation-sign text-danger"></span></td>
            {% else %}
            <td><span class="glyphicon glyphicon-question-sign text-info"></span></td>
            {% endif %}
            <td>{{ application.latest_image.updated |humanize }}</td>
            <td><a class="btn btn-info" href="{{ url_for('user.image_detail', image_id=application.latest_image.id) }}"><span class="glyphicon glyphicon-search"></a></td>
          </tr>
          {% endif %}
          <tr>
            <td class="right" colspan="2">
              <a class="btn btn-primary" href="{{ url_for('user.project_application_image_build_submit', org_slug=application.project.organization.slug, project_slug=application.project.slug, app_slug=application.slug) }}">
                Submit New Image Build
              </a>
            </td>
            <td class="right" colspan="2">
              {% if application.images.count() > 0 %}
              <a class="btn btn-info" href="{{ url_for('user.application_images', application_id=application.id) }}">
                View All Images
              </a>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3>Environment Variables</h3>
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Value</th>
            <th style="white-space: nowrap; width: 1%;"></th>
            <th style="white-space: nowrap; width: 1%;"></th>
            <th style="white-space: nowrap; width: 1%;"></th>
          </tr>
          {% for configuration in application.configurations %}
          <tr>
            <td>
              <pre style="margin: 0px;">{{ configuration.name }}</pre>
            </td>
            <td>
              <pre style="margin: 0px;">{% if configuration.secret %}<span class="glyphicon glyphicon-lock"></span>{% else %}{{ configuration.value }}{% endif %}</pre>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <a class="btn btn-sm btn-link narrow" href="{{ url_for('user.project_application_configuration_edit', org_slug=configuration.application.project.organization.slug, project_slug=configuration.application.project.slug, app_slug=configuration.application.slug, config_id=configuration.id) }}">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <a class="btn btn-sm btn-link narrow icon-flipped" href="{{ url_for('user.project_application_configuration', org_slug=configuration.application.project.organization.slug, project_slug=configuration.application.project.slug, app_slug=configuration.application.slug, config_id=configuration.id) }}">
                <span class="glyphicon glyphicon-refresh"></span>
              </a>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <a class="btn btn-sm btn-danger narrow" href="{{ url_for('user.project_application_configuration_delete', org_slug=configuration.application.project.organization.slug, project_slug=configuration.application.project.slug, app_slug=configuration.application.slug, config_id=configuration.id) }}">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td class="right" colspan="5">
              <a class="btn btn-primary" href="{{ url_for('user.project_application_configuration_create', org_slug=application.project.organization.slug, project_slug=application.project.slug, app_slug=application.slug) }}">
                Add New Environment Variable
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
