{% extends "_base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xterm/xterm@5.5.0/css/xterm.css" integrity="sha256-uo5phWaUiJgcz0DAzv46uoByLLbJLeetYosL1xf68rY=" crossorigin="anonymous">
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@xterm/xterm@5.5.0/lib/xterm.js" integrity="sha256-H5kaw7Syg+v5bmCuI6AKUnZd06Lkb6b92p8aqwMvdJU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@xterm/addon-fit@0.10.0/lib/addon-fit.js" integrity="sha256-va76Nwsb/ELuiNRv5gckAJAqTUstRc2TQ43amyPJcIk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@xterm/addon-attach@0.11.0/lib/addon-attach.js" integrity="sha256-r4EPozChUDzzwwWgporcO0NhZx+ljsRysPro5Zp8O2Y=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  <div class="container" id="content">
    <div class="row">
      <div class="col-12">
        <div style="height: 50vh; min-height: 512px; padding: .25rem; background-color: black; border-radius: .5rem;">
          <div id="terminal" style="margin: auto; height: 90%;"></div>
        </div>
      </div>
    </div>
    <script>
      function wrap(object, method, wrapper) {
          var fn = object[method];
          return object[method] = function() {
              return wrapper.apply(this, [fn.bind(this)].concat(
                  Array.prototype.slice.call(arguments)));
          };
      }
      window.onload = function() {
          const protocol = (window.location.protocol == 'https:') ? 'wss://' : 'ws://';
          const socket = new WebSocket(protocol + window.location.host + window.location.pathname + '/socket');

          const term = new Terminal({
              fontFamily: '"Cascadia Code", Menlo, monospace',
              fontSize: 13,
              cursorBlink: true,
              allowProposedApi: true
          });
          const attachAddon = new AttachAddon.AttachAddon(socket, true);
          wrap(attachAddon, "_sendData", function(original, data) {
              original('\x00' + data);
          });
          const fitAddon = new FitAddon.FitAddon(socket, true);
          term.loadAddon(attachAddon);
          term.loadAddon(fitAddon);
          term.open(document.getElementById('terminal'));
          fitAddon.fit();

          const debounce = (callback, wait) => {
              let timeoutId = null;
              return (...args) => {
                  window.clearTimeout(timeoutId);
                  timeoutId = window.setTimeout(() => {
                      callback.apply(null, args);
                  }, wait);
              };
          }
          const sendResize = debounce((event) => {
              fitAddon.fit();
              socket.send("\x01" + JSON.stringify({
                  Width: term.cols,
                  Height: term.rows
              }));
              console.log(event);
          }, 100);
          window.addEventListener("resize", sendResize);
          socket.addEventListener("open", (event) => {sendResize(null)});
      }
    </script>
  </div>
{% endblock %}
