{% extends "_base.html" %}
{% from "bootstrap/utils.html" import form_button %}
{% block content %}
  <div class="container" id="content">
    <div class="row pull-right">
      <p>Organization: <a href="{{ url_for('user.organization', org_slug=project.organization.slug) }}">{{ project.organization.name }}</a></p>
    </div>
    <div class="row">
      <h1>Project: {{ project.name }}</h1>
    </div>
    <div class="row">
      <h2>Applications</h2>
    </div>
    <table class="table">
    {% for application in project.project_applications %}
      <tr>
        <td><a href="{{ url_for('user.project_application', org_slug=project.organization.slug, project_slug=project.slug, app_slug=application.slug) }}">{{ application.name }}</a></td>
      </tr>
    {% endfor %}
      <tr>
        <td colspan="2" class="text-right">
          {{ form_button(url_for('user.project_application_create', org_slug=project.organization.slug, project_slug=project.slug), "Create a new Application", method="GET", class="btn btn-primary") }}
          <a href="{{ url_for('user.jwt', org_slug=project.organization.slug, project_slug=project.slug) }}" class="btn btn-primary">View Project Dashboard</a>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
