{% extends "_base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "bootstrap/wtf.html" import form_errors, form_field %}
{% from "bootstrap/utils.html" import form_button %}

{% block content %}
{% include "security/_messages.html" %}
<div class="container-fluid clearfix">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-xs-8 col-xs-offset-2 col-sm-offset-2">
      <h1>Create Project</h1>
      <form action="{{ url_for('user.project_create') }}" method="POST" name="project_create_form">
        {{ project_create_form.hidden_tag() }}
        {{ form_field(project_create_form.organization_id) }}
        {{ form_field(project_create_form.name) }}
        {{ form_field(project_create_form.slug) }}
        {{ form_button(project_create_form.submit, "Create", method="POST", class="btn btn-primary") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
