{% extends "_base.html" %}
{% from "bootstrap/utils.html" import form_button %}
{% block content %}
  <div class="container" id="content">
    <div class="row">
      <h1>Projects</h1>
    </div>
    <div class="row">
      {{ form_button(url_for('user.project_create'), "Create a new Project", method="GET", class="btn btn-primary pull-right") }}
    </div>
    {% for project in projects %}
    <div class="row">
      <a href="{{ url_for("user.project", org_slug=project.organization.slug, project_slug=project.slug) }}">{{ project.organization.slug }}/{{ project.slug }}</a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
