{% extends "_base.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "bootstrap/wtf.html" import form_errors, form_field %}
{% from "bootstrap/utils.html" import form_button %}

{% block content %}
  <div class="container" id="content">
    <div class="row">
      <h1>{{ application.project.organization.slug|lower }}/{{ application.project.slug|lower }}: {{ application.slug }}</h1>
    </div>
    {% if application.latest_release.built %}
    <div class="row">
      <div class="col-md-8">
        <h3>Deploy!</h3>
        <form action="{{ url_for('user.release_deploy', release_id=application.latest_release.id) }}" method="POST" name="deploy_release_form" enctype="multipart/form-data">
          {{ deploy_form.hidden_tag() }}
          <div class="row">
            <div class="col-md-6">
              {{ form_button(deploy_form.submit, "Do It!", method="POST", class="btn btn-primary") }}
            </div>
            <div>
              <a href="{{ url_for('user.project_application_deployment_automation', application_id=application.id) }}" class="btn btn-primary pull-right">{% if application.github_app_installation_id %}<span style="margin-right: 5px;" class="glyphicon glyphicon glyphicon-ok-sign"></span>{% endif %}Deploy Automation</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endif %}
    {% if application.deployments.count() > 0 %}
    <div class="row">
      <div class="col-md-8">
        <h3>Recent Deployments</h3>

        {% if application.latest_deployment_running and application.latest_deployment_running.version|default(0) > application.latest_deployment.version|default(0) %}
        <div class="col-md-12">
          <div class="row alert alert-info">
            <a class="text-info" href="{{ url_for('user.image_detail', image_id=application.latest_image_building.id) }}">Image Build #{{ application.latest_image_building.version }} In Progress! Watch it Go! <span class="glyphicon glyphicon-search"></span></a>
          </div>
        </div>
        {% endif %}
        {% if application.latest_image_error and application.latest_image_error.version|default(0) > application.latest_image.version|default(0) %}
        <div class="col-md-12">
          <div class="row alert alert-danger">
            <a class="text-danger" href="{{ url_for('user.image_detail', image_id=application.latest_image_error.id) }}">Latest Image Build #{{ application.latest_image_error.version }} Failed! Take a closer look! <span class="glyphicon glyphicon-search"></span></a>
          </div>
        </div>
        {% endif %}

        <table class="table table-striped">
          <tr>
            <th>Status</th>
            <th>Started</th>
            <th>Updated</th>
            <th style="white-space: nowrap; width: 1%;">Details</th>
          </tr>
          {% for deployment in application.recent_deployments %}
          <tr>
            {% if deployment.complete %}
            <td><span class="glyphicon glyphicon glyphicon-ok-sign text-success"></span></td>
            {% elif deployment.error %}
            <td><span class="glyphicon glyphicon-exclamation-sign text-danger"></span></td>
            {% else %}
            <td><span class="glyphicon glyphicon-question-sign text-info"></span></td>
            {% endif %}

            <td>{{ deployment.created |humanize }}</td>
            <td>{{ deployment.updated |humanize }}</td>
            <td><a class="btn btn-info" href="{{ url_for('user.deployment_detail', deployment_id=deployment.id) }}"><span class="glyphicon glyphicon-search"></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}
    {% if application.releases.count() > 0 and application.latest_release.built %}
    <div class="row">
      <div class="col-md-8">
        <h3>Processes</h3>
        <form action="{{ url_for('user.application_scale', application_id=application.id) }}" method="POST" name="process_count_form">
          {{ scale_form.hidden_tag() }}
          <table class="table">
            <tr>
              <th>Process Name</th>
              <th>Count</th>
            </tr>
            {% for process_name in application.latest_release.processes %}
            <tr>
              <td><code>{{ process_name }}</code></td>
              <td>
                <div class="count-input count-input-sm">
                  <a class="incr-btn" data-action="decrease" href="#">–</a>
                  <input class="quantity" type="text" name="process-count-{{ process_name }}" value="{{ application.process_counts.get(process_name, 0) }}"/>
                  <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                </div>
              </td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan=2>
                {{ form_button(scale_form.submit, "set process counts", method="POST", class="btn btn-primary pull-right set_process_counts hidden") }}
              </td>
            </tr>
          </table>
        </form>
        <h3>Release Commands</h3>
        <table class="table">
          {% for process_name, proc in application.latest_release.release_commands.items() %}
          <tr>
            <th>Command Name</th>
            <th>Command</th>
          </tr>
          <tr>
            <td><code>{{ process_name }}</code></td>
            <td><code>{{ proc['cmd'] }}</code></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        {% if application.releases.count() > 0 %}
        <h3>Releases</h3>
        {% endif %}
        {% set image_diff, config_diff = application.ready_for_deployment %}
        {% if image_diff.has_changes() or config_diff.has_changes() %}
          <div class="row">
            <div class="alert alert-info">
              <p>Unapplied changes exist!</p>
            </div>
          </div>
          {% if image_diff.has_changes() %}
          {% set added = image_diff.added() %}
          {% set removed = image_diff.removed() %}
          {% set changed = image_diff.changed() %}
          <div class="row">
            <h5>Image Changes</h5>
            <div class="col-md-12">
              <table class="table">
                <tr>
                  <th></th>
                  <th>Attribute</th>
                  <th>Operation</th>
                </tr>
                {% for image_added in added %}
                <tr>
                  <td><span class="glyphicon glyphicon-plus text-success"></span></td>
                  <td><code>{{ image_added }}</code></td>
                  <td>Added</td>
                </tr>
                {% endfor %}
                {% for image_changed in changed %}
                <tr>
                  <td><span class="glyphicon glyphicon-pencil text-info"></span></td>
                  <td><code>{{ image_changed }}</code></td>
                  <td>Edited</td>
                </tr>
                {% endfor %}
                {% for image_removed in removed %}
                <tr>
                  <td><span class="glyphicon glyphicon-minus text-danger"></span></rd>
                  <td><code>{{ image_removed }}</code></td>
                  <td>Removed</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          {% endif %}
          {% if config_diff.has_changes() %}
          {% set added = config_diff.added() %}
          {% set removed = config_diff.removed() %}
          {% set changed = config_diff.changed() %}
          <div class="row">
            <h5>Configuration Changes</h5>
            <div class="col-md-12">
              <table class="table">
                <tr>
                  <th></th>
                  <th>Environment Variable</th>
                  <th>Operation</th>
                </tr>
              {% if added %}
                {% for config_added in added %}
                <tr>
                  <td><span class="glyphicon glyphicon-plus text-success"></span></td>
                  <td><code>{{ config_added }}</code></td>
                  <td>Added</td>
                </tr>
                {% endfor %}
              {% endif %}
              {% if removed  %}
                {% for config_removed in removed %}
                <tr>
                  <td><span class="glyphicon glyphicon-minus text-danger"></span></rd>
                  <td><code>{{ config_removed }}</code></td>
                  <td>Removed</td>
                </tr>
                {% endfor %}
              {% endif %}
              {% if changed %}
                {% for config_changed in changed %}
                <tr>
                  <td><span class="glyphicon glyphicon-pencil text-info"></span></td>
                  <td><code>{{ config_changed }}</code></td>
                  <td>Edited</td>
                </tr>
                {% endfor %}
              {% endif %}
              </table>
            </div>
          </div>
          {% endif %}
          <div class="row">
            <a class="btn btn-info pull-right" href="{{ url_for('user.application_release_create', application_id=application.id) }}">
              Cut a new release!&nbsp;<span class="glyphicon glyphicon-scissors"></span>
            </a>
          </div>
        {% endif %}
          </div>
          </div>
    <div class="row">
      <div class="col-md-12">
        {% if application.latest_release %}
        <h3>Latest Release</h3>
        <table class="table table-striped">
          <tr>
            <th>Version</th>
            <th>Built</th>
            <th>Updated</th>
            <th style="white-space: nowrap; width: 1%;">Details</th>
          </tr>
          <tr>
            <td>
              <code>{{ application.latest_release.version }}</code>
              {% if application.latest_release.release_metadata and application.latest_release.release_metadata.get('auto_deploy') %}<span class="glyphicon glyphicon-flash"></span>{% endif %}
            </td>
            {% if application.latest_release.built %}
            <td><span class="glyphicon glyphicon glyphicon-ok-sign text-success"></span></td>
            {% elif application.latest_release.error %}
            <td><span class="glyphicon glyphicon-exclamation-sign text-danger"></span></td>
            {% else %}
            <td><span class="glyphicon glyphicon-question-sign text-info"></span></td>
            {% endif %}
            <td>{{ application.latest_release.updated|humanize }}</td>
            <td><a class="btn btn-info" href="{{ url_for('user.release_detail', release_id=application.latest_release.id) }}"><span class="glyphicon glyphicon-search"></a></a></td>
          </tr>
          <tr>
            <td colspan="4">
              {% if application.releases.count() > 0 %}
              <a class="btn btn-info pull-right" href="{{ url_for('user.application_releases', application_id=application.id) }}">
                View All Releases
              </a>
              {% endif %}
            </td>
          </tr>
        </table>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Latest Image</h3>
        {% if application.latest_image_building and application.latest_image_building.version|default(0) > application.latest_image.version|default(0) %}
        <div class="col-md-12">
          <div class="row alert alert-info">
            <a class="text-info" href="{{ url_for('user.image_detail', image_id=application.latest_image_building.id) }}">Image Build #{{ application.latest_image_building.version }} In Progress! Watch it Go! <span class="glyphicon glyphicon-search"></span></a>
          </div>
        </div>
        {% endif %}
        {% if application.latest_image_error and application.latest_image_error.version|default(0) > application.latest_image.version|default(0) %}
        <div class="col-md-12">
          <div class="row alert alert-danger">
            <a class="text-danger" href="{{ url_for('user.image_detail', image_id=application.latest_image_error.id) }}">Latest Image Build #{{ application.latest_image_error.version }} Failed! Take a closer look! <span class="glyphicon glyphicon-search"></span></a>
          </div>
        </div>
        {% endif %}
        <table class="table table-striped">
          <tr>
            <th>Version</th>
            <th>Built</th>
            <th>Updated</th>
            <th style="white-space: nowrap; width: 1%;">Details</th>
          </tr>
          {% if application.latest_image %}
          <tr>
            <td>
              <code>{{ application.latest_image.version }}</code>
              {% if application.latest_image.image_metadata and application.latest_image.image_metadata.get('auto_deploy') %}<span class="glyphicon glyphicon-flash"></span>{% endif %}
            </td>
            {% if application.latest_image.built %}
            <td><span class="glyphicon glyphicon glyphicon-ok-sign text-success"></span></td>
            {% elif application.latest_image.error %}
            <td><span class="glyphicon glyphicon-exclamation-sign text-danger"></span></td>
            {% else %}
            <td><span class="glyphicon glyphicon-question-sign text-info"></span></td>
            {% endif %}
            <td>{{ application.latest_image.updated |humanize }}</td>
            <td><a class="btn btn-info" href="{{ url_for('user.image_detail', image_id=application.latest_image.id) }}"><span class="glyphicon glyphicon-search"></a></td>
          </tr>
          {% endif %}
          <tr>
            <td colspan="2">
              <a class="btn btn-primary" href="{{ url_for('user.application_images_build_submit', application_id=application.id) }}">
                Submit New Image Build
              </a>
            </td>
            <td colspan="2">
              {% if application.images.count() > 0 %}
              <a class="btn btn-info pull-right" href="{{ url_for('user.application_images', application_id=application.id) }}">
                View All Images
              </a>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Environment Variables</h3>
        <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Value</th>
            <th style="white-space: nowrap; width: 1%;"></th>
            <th style="white-space: nowrap; width: 1%;"></th>
            <th style="white-space: nowrap; width: 1%;"></th>
          </tr>
          {% for configuration in application.configurations %}
          <tr>
            <td style="min-width: 5em; width: 10em; max-width: 10em;">
              <div>
                <pre style="display: inline-block; margin: 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{{ configuration.name }}</pre>
                {% if configuration.buildtime %}
                <span style="display: inline-block; margin: 10px;" class="glyphicon glyphicon-cog"></span>
                {% endif %}
              </div>
            </td>
            <td style="min-width: 10em; max-width: 25em; width: 25em;">
              <pre style="margin: 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{% if configuration.secret %}<span class="glyphicon glyphicon-lock"></span>{% else %}{{ configuration.value }}{% endif %}</pre>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <a class="btn btn-sm btn-link narrow" href="{{ url_for('user.project_application_configuration_edit', org_slug=configuration.application.project.organization.slug, project_slug=configuration.application.project.slug, app_slug=configuration.application.slug, config_id=configuration.id) }}">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <a class="btn btn-sm btn-link narrow icon-flipped" href="{{ url_for('user.project_application_configuration', org_slug=configuration.application.project.organization.slug, project_slug=configuration.application.project.slug, app_slug=configuration.application.slug, config_id=configuration.id) }}">
                <span class="glyphicon glyphicon-refresh"></span>
              </a>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <a class="btn btn-sm btn-danger narrow" href="{{ url_for('user.project_application_configuration_delete', org_slug=configuration.application.project.organization.slug, project_slug=configuration.application.project.slug, app_slug=configuration.application.slug, config_id=configuration.id) }}">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td class="right" colspan="5">
              <a class="btn btn-primary" href="{{ url_for('user.project_application_configuration_create', org_slug=application.project.organization.slug, project_slug=application.project.slug, app_slug=application.slug) }}">
                Add New Environment Variable
              </a>
            </td>
          </tr>
        </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
