{% extends "_base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "bootstrap/wtf.html" import form_errors, form_field %}
{% from "bootstrap/utils.html" import form_button %}

{% block content %}
{% include "security/_messages.html" %}
<div class="container-fluid clearfix">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-xs-8 col-xs-offset-2 col-sm-offset-2">
      <h1>{{ _('Register') }}</h1>
      <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        {{ form_field(register_user_form.email) }}
        {{ form_field(register_user_form.username) }}
        {{ form_field(register_user_form.password) }}
        {% if register_user_form.password_confirm %}
          {{ form_field(register_user_form.password_confirm) }}
        {% endif %}
        {{ form_button(register_user_form.submit, "Register", method="POST", class="btn btn-primary") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
