{% extends "_base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "bootstrap/wtf.html" import form_errors, form_field %}
{% from "bootstrap/utils.html" import form_button %}

{% block content %}
{% include "security/_messages.html" %}
<div class="container-fluid clearfix">
  <div class="row">
    <div class="col-md-2 col-md-offset-10 col-xs-2 col-xs-offset-8 col-sm-8 col-sm-offset-2">
    {{ form_button(url_for_security('register'), "Register", class="btn pull-right") }}
    </div>
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-xs-8 col-xs-offset-2 col-sm-offset-2">
      <h1>{{ _('Login') }}</h1>
      <form action="{{ url_for_security('login') }}" method="POST" name="send_login_form">
        {{ send_login_form.hidden_tag() }}
        {{ form_field(send_login_form.email) }}
        {{ form_button(send_login_form.submit, "Send Login", method="POST", class="btn btn-primary") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
