name: Publish
on:
  push:
    branches:
      #- 'main'
      - '*'
permissions:
  contents: write
  packages: write
jobs:
  release-to-ghcr:
    concurrency:
      group: release-to-ghcr
      cancel-in-progress: false
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    steps:
      # Checkout push-to-registry action github repository
      - name: Checkout Push to Registry action
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login To GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          #push: true
          push: false
          tags: |
            ghcr.io/cabotage/cabotage-app:latest
